{% extends "base_templates/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset Confirmation" %}{% endblock %}

{% block content %}

  <h1>{% trans "Password Reset Confirmation" %}</h1>

  <form class="password-reset-confirm" method="POST" action="{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
    {% csrf_token %}
    <label for="id_new_password1">{% trans "New Password" %}</label>
    <input type="password" name="new_password1" id="id_new_password1" placeholder="{% trans 'New Password' %}" required autofocus>

    <label for="id_new_password2">{% trans "Confirm New Password" %}</label>
    <input type="password" name="new_password2" id="id_new_password2" placeholder="{% trans 'Confirm New Password' %}" required>

    <button class="primaryAction" type="submit">{% trans "Reset Password" %}</button>
  </form>

{% endblock %}
