<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Kayak Club Dnipro</title>
</head>
<a href="https://kayakclubdnipro.com.ua/">
    <img src="templates\images\logo_KCD_no_fon.png" alt="Лого">
</a>
<p style="margin-left: 10 pt ">Прокат каяків та сапбордів у Дніпрі</p>

<nav style=".menu-item {
    color: #fff;
    background-color: #ff8c00;
    border-radius: 5px;
}">
    <ul class="menu">
        <li class="menu-item"><a href="#">Головна</a></li>
        <li class="menu-item"><a href="#">Асортимент</a></li>
        <li class="menu-item"><a href="#">Екскурсії</a></li>
        <li class="menu-item"><a href="#">Походи</a></li>
        <li class="menu-item"><a href="#">Корпоративи</a></li>
        <li class="menu-item"><a href="#">Відгуки</a></li>
        <li class="menu-item"><a href="#">Про нас</a></li>
    </ul>
</nav>
