<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Kayak Club Dnipro</title>
</head>
<a href="https://kayakclubdnipro.com.ua/">
    <img src="templates\images\logo_KCD_no_fon.png" alt="Лого">
</a>
<p style="margin-left: 10 pt ">Прокат каяків та сапбордів у Дніпрі</p>

<nav style=".menu-item {
    color: #fff;
    background-color: #ff8c00;
    border-radius: 5px;
}">

    <ul class="menu" style="display: flex;">
        <li class="menu-item"><a href="templates\index.html">Головна</a></li>
        <li class="menu-item"><a href="assortment.html">Асортимент</a></li>
        <li class="menu-item"><a href="routes.html">Екскурсії</a></li>
        <li class="menu-item"><a href="hike.html">Походи</a></li>
        <li class="menu-item"><a href="corporativ.html">Корпоративи</a></li>
        <li class="menu-item"><a href="rewiew.html">Відгуки</a></li>
        <li class="menu-item"><a href="about.html">Про нас</a></li>
    </ul>
</nav>