<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Kayak Club Dnipro</title>
  <link rel="stylesheet" href="base.css">

</head>
<a href="https://kayakclubdnipro.com.ua/">
    <img src="templates\images\logo_KCD_no_fon.png" alt="Лого">
</a>
<p style="margin-left: 10pt;">Прокат каяків та сапбордів у Дніпрі</p>
<nav >
    <div class="menu">
        <td class="menu-item"><a href="templates\index.html">Головна</a></td>
        <td class="menu-item"><a href="assortment.html">Асортимент</a></td>
        <td class="menu-item"><a href="routes.html">Екскурсії</a></td>
        <td class="menu-item"><a href="hike.html">Походи</a></td>
        <td class="menu-item"><a href="corporativ.html">Корпоративи</a></td>
        <td class="menu-item"><a href="rewiew.html">Відгуки</a></td>
        <td class="menu-item"><a href="about.html">Про нас</a></td>
    </div>
</nav>