{% extends 'base_templates/base.html' %}

{% block content %}
    <!-- Ваш код здесь -->

<body>
<h2><p>Цє демонстраційна версія сторінки, в майбутньму цей функціонал буде працювати в розділі прайс,</p>
    <p>А тут буде розміщенно сторінку для роботи з заявками видну лише зареестрованим користувачам!!!</p></h2>

    <p>Ознайомтеся з вартістю проката згідно прайсу:</p>
<p>_________прайс!!!</p>

<table>
   <thead>
            <tr>
                <th>Тип ПЗ</th>
                <th>Лодка</th>
                <th>Тривалість</th>
                <th>Ціна за годину</th>
            </tr>
        </thead>

        <tbody>
            {% for price in prices %}
            <tr>
                <td>{{ price.boat_type }}</td>
                <td>{{ price.boat_type.boats }}</td>
                <td>{{ price.get_duration_display }}</td>
                <td>{{ price.price_per_hour }} грн</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </thead>
<h3>Оберіть бажаний плавзасіб та час оренди.</h3>
<p>Переконайтеся в таблиці що є вільні часові слоти(помічені літерою F)</p>
<p>________Таблиця!!!</p>
  <tbody>
   <h1>Таблиця вільних часових слотів для бронювання</h1>
    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
        </tr>
        {% endfor %}
    </table>  </tbody>
</table>
<p>Статуси часових слотів (Легенда таблиці):</p>
<p>F - Вільний C - В обробці B - Зайнятий</p>
<p>Заповніть а все інше ми беремо на себе!</p>
{#  <a href="{% url 'booking_cayak/booking' %}">формою</a>,#}
</body>
{% endblock %}
