++++Хедер++++
<body>

____вести в опис кожного виду каяку графу колори!!!
Perception Prodigy-II каяк двомісний пластиковий
Двомісний туристично-рекреаційний каяк ____розгорнути
___текст під спойлером:
Perception Prodigy-II
Двомісний туристично-рекреаційний каяк Perception Prodigy-II – це надійний та стійкий каяк (каное), ідеально підходить
для сімейного відпочинку на воді. Большая вантажопідйомність каяка дозволяє легко загрузити в нього до 280 кг ваги (разом
з веслувальниками), або зручно розміститися в ньому всією родиною. Великі комфортні сидіння добре тримають спину, а в
сумісництві з широким та стійким корпусом каяка надають відчуття безпеки на воді. Широкий ніс каяка не дає можливості воді
перелитися в кокпіт каяка при виході на велику хвилю.

Характеристики каяка:
Довжина: 4,42 м; 
Ширина: 79 см; 
  Кокпіт: сумісний 229х58 см; Вага: 33 кг; Максимальне навантаження: до 249 кг.

Обладнання каяка:
• Пересувні сидіння з високою складною спинкою та м'якими накладками.
• Регульовані педалі
• Еластична обв'язка на носу каяка
• Ергономічні рукоятки
• Блоки плавучості
• Високоякісний ударостійкий поліетилен
• Багажне відділення (в версії expedition)
• Спрямоване днище
WAVE-1
Двомісний композитний каяк підвищеної комфортності для туризму, прогулянок та походів.____розгорнути
текст під спойлером:
WAVE-1
WAVE-1 - двомісний композитний каяк підвищеної комфортності для туризму, прогулянок та походів. Це місткий, надійний та
стійкий каяк для зручної посадки веслувальників середньої та крупної статури. Корпус каяка має V-форму в носовій частині,
що робить його ще більш швидким.
Каяк відмінно підійде людям, що ведуть активний спосіб життя: туризм, спортивне орієнтування, рибальство, змагання по
спокійній воді!
Жорстка конструкція каяка та сляйдів розроблена таким чином, щоб максимально ефективно використовувати енергію весла.

Будова декі із дном, перекриває та формує кромку, яка відрізає потоки води, що входять, навіть при високій хвилі.
Тестування показали, що каяк при досить низькій посадці не звалюється з хвилі, проходить її плавно та стабільно, а вода в
кокпіт майже не потрапляє.
Експедиційне обладнання каяка:
вбудовані сляйди з підсклянниками;
щільні, теплі спинки, що швидко сохнуть и комфортні анатомічні сидіння з EVA піни;
регульовані упори для ніг надійної конструкції;
спрямоване днище;
еластична обв'язка (SHOCK cord) на кормі та на носі;
щільна джгутова обв'язка (відображаючий paracord) на кормі та на носі;
ергономічні рукоятки для переносу каяка;
задній багажний люк (овал 46x25 см) з відсіком ємністю 70л;
герметичний відсік на носі каяка та композитна герметична переборка між кормовим відсіком та кокпітом;
ущільнювач по всьому периметру внутрішньої декі для комфортного упору колін;
корпус з композитних матеріалів (склопластик).
ХАРАКТЕРИСТИКИ КАЯКА
Вага каяка: 30 кг.
Вантажопідйомність каяка: до 250 кг.
Кількість камер для вантажу (з люками): 1
Кількість посадкових місць: 2
Призначення каяка: туринговий/рекреаційний каяк
Висота декі каяка: 42 см.
Довжина каяка: 458 см.
Ширина каяка: 79 см.
Присутність упорів для ніг: Да
Розміри кокпіта (Ширина х Довжина): 58 х 230 см.

WАVE-1 - виготовлений в Україні із закордонних високоякісних матеріалів та комплектуючих, розроблений як для
поціновувачів швидкості та керованості, так и для тих, кому важлива стійкість, практичність та надійність конструкції!

Каяк має всю необхідну (в версії Expeditional) оснастку. Рокер каяка виконаний таким чином, щоб відмінно тримати курс
по прямій при цьому володіти підвищеними характеристиками маневреності и стабільності на будь якій хвилі.
Спрямовані в днищі дозволяють тримати впевнений курс при будь якому вітрі.

Тип вод в яких рекомендовано використовувати каяк: озера, канали, плавневі лабіринти, великі річки, дельти річок.
Необхідний рівень підготовки каякерів: новачок – професіонал.

За рахунок великої жорсткості конструкція каяку має кращі ходові якості, ніж поліетиленові каяки, хоча і більш сприятливий
до абразивних та ударних пошкоджень.
SeaBird Ranchero 12
Компактний каяк для рибальства та туризму від SeaBird____розгорнути
текст під спойлером:
SeaBird Ranchero 12
SeaBird Ranchero 12 - новий багатофункціональний каяк (байдарка) для початківців. Каяк поєднує в собі всі кращі
характеристики sit-in и sit-on-top каяків.

Відмінно підходить для коротких прогулянок, рибалки та легких туристичних походів. Вибачає навіть самі грубі помилки новачків.
Каяк ідеально підходить для поїздок на річках, озерах та каналах. Ranchero-12 має великий багажний відсік, зручне регульоване
сидіння, а також облаштований фіксатором вудилища та підсклянниками.

Задній багажний відсік каяка виконаний в стилі каяків Sit-On-Top, що дозволяє в будь-який момент добратися до речей, що
знаходяться в багажному відділенні, навіть якщо ви на воді.

Технічні характеристики каяка:
Довжина - 3,72 м; Ширина - 0,74 м; Кокпіт - 120x50 см; Вес - 24 кг.; Вантажопідйомність - до 150 кг.

Матеріал - поліетилен HDPE

Обладнання каяка:
• Сидіння з м'якою накладкою та високою спинкою з поліетилена;
• Упори для ніг, що регулюються;
• Багажне відділення на кормі каяка;
• Еластична обв'язка на кормі и на носі каяка;
• Низько опущений кіль на днищі каяка;
• Ергономічні рукоятки;
• Маленьке багаже відділення для дрібних речей перед кокпітом;
• Фіксатор вудилища (спінінг тримач);
• Корпус з високоміцного поліетилена HDPE.

Дизайнер: Björn Thomasson (Швеція).

Компактні розміри разом з великим багажним відділенням та чудовою маневровостю роблять Ranchero-12 відмінним каяком
для прибережних прогулянок, рибалки та катання на невеликих водоймах.


SeaBird Expedition Åfjord
Базова комплектація компактного туристичного каяка популярної серії Afjord.____розгорнути
текст під спойлером:
SeaBird Expedition Åfjord
SeaBird Expedition Åfjord - це базова комплектація компактного туристичного каяка популярної серії Afjord.
Каяк створено для коротких прогулянок на спокійній воді та для зручності зберігання та перевезення.

Завдяки невеликій довжині каяк дуже добре маневрує. Каяк відмінно підійде для денних походів чи прогулянок на декілька годин.

Каяк виробляється з міцного ударостійкого матеріалу - 3-шарового поліетилена HDPE

Комплектація каяка Expedition Åfjord:

Cидіння з м'якою накладкою та високою спинкою;
Ручки на носу та на кормі каяка для переноски;
Педалі для упору ніг;
багажне відділення з люком та розділом в кормі каяка;
Еластична сітка попереду та обв'язка позаду деки каяка;
Технічні характеристики каяка:
Вага каяка: 19 кг., Довжина: 368 см., Ширина: 64 см., Вантажопідйомність: до 130 кг.

Обсяг каяка: 245 л. Розміри кокпіта (всередині): 86х45 см.

Perception Vista
Двомісний туристичний каяк (байдарка) для сімейного відпочинку____розгорнути
текст під спойлером:
Perception Vista
Perception Vista - двомісний туристичний каяк (байдарка) для сімейного відпочинку.
Велика вантажопідйомність каяка дозволяє легко завантажити в нього до 300 кг ваги (разом з веслувальниками), або зручно
розміститися в ньому всій родині. Великі зручні сидіння добре тримають спину, а у сумісництві з широким та стійким корпусом
каяка надають відчуття безпеки на воді. Гострий піднятий ніс каяка легко прорізає водну гладь та хвилі, при цьому не дозволяє
нводі попасти в кокпіт каяка.

В каяці Vista передбачена можливість додавання дитячого сидіння (опція), котре причіпляється до головного сидіння.

Характеристики каяка:
Довжина: 4,85 м; Ширина: 82 см; Кокпіт: спарений 228х61 см; Віга каяка: 41 кг; Максимальне навантаження: до 300 кг.

Обладнання каяка:

Пересувні сидіння з високою складною спинкою та м'якими накладками.
Регульовані педалі
Еластична обв'язка на носу каяка
Ергономічні рукоятки
Блоки плавучості всередині
Високоякісний стійкий до ударів поліетилен
Багажне відділення (в версії expedition)
Спрямоване днище

WAVE-1
Двомісний композитний каяк підвищеної комфортності для туризму, прогулянок та походів.____прибрати як дублюючий елемент
та ввести в опис кожного виду каяку графу колори!!!
Кayak Spire-1
Композитний каяк підвищеної маневреності для серфінгу, туризму та походів.____розгорнути
Кayak Spire-1
Кayak Spire-1 (Exp.) - новий композитний каяк підвищеної маневреності для серфінгу, туризму та походів.
Це місткий морській експедиційний каяк зі збільшеним кокпітом та внутрішнім обсягом для зручної посадки веслувальників
середньої статури. Керованість та обслуговування каяка дає відчуття - швидкості, впевненості, стійкості при будь яких умовах.
Характеристики корпусу каяка
British design ("fish form");
V- форми днище, що переходить в плоске в зоні кокпіту ("shallow V-hull");
м'які обводи/скули ("soft-chined hull").
Щільна, тепла спинка, що швидко висихає та комфортне анатомічне сидіння з EVA піни;
Регульовані педалі для ніг надійної конструкції;
Не регульовані упори для колін;
Обв'язка - світловідштовхувальний paracord на корме и на носу фірмового кольору NAVI blu;
V-форми днище;
Ергономічні рукоятки для переноски каяка;
Передній та задній люки для багажу (овал 46x25 см);
Герметичні композитні переборки між відсіками та кокпітом;
Корпус з композитних матеріалів (склопластик).

ХАРАКТЕРИСТИКИ КАЯКА
Вага каяка: 25 кг.
Вантажопідйомність каяка: до 180 кг.
Кількість багажних камер: 2
Призначення каяка: Морський експедиційний/туринговий каяк
Висота декі каяка: 37 см.
Довжина каяка: 475 см.
Ширина каяка: 61 см.
Присутність упорів для ніг: Так (регульовані)
Присутність упорів для колін: Так (не регульовані)

Розміри кокпіту: 51 х 91 см.
SPIRE-1 - виготовлений в Україні з закордонних високоякісних матеріалів та складових.
Каяк розроблений для поціновувачів швидкості та керованості для тих, кому важлива стійкість , практичність та надійність конструкції.

SPIRE-1 вантажопідйомність до 180 кг (з урахуванням веслувальника). Великі задні та передні люки (46х25см) розмістити все
необхідне спорядження для подорожі. Завдяки використанню сучасних технологій та матеріалів, вага каяка 25 кг.

Каяк має всю необхідну (в версії Expeditional) оснастку. Рокер каяка виготовлений таким чином, щоб відмінно тримати курс по
прямій та при цьому мати підвищені характеристиками маневровості та стійкості. Ніс та корма каяка підняті, що дозволяє йому
підкорювати будь яку хвилю.

Щільне, тепле сидіння, що швидко сохне и спинка з EVA-піни дозволяє перебувати в повному температурному та фізичному комфорті.
Завдяки керованим упорам для ніг, SPIRE-1 можливо здійснювати максимальну комфортність каяка для Вас.

Тип води, в яких рекомендовано використовувати каяк: озеро, канали, плавневі лабіринти, річки, дельти рік, морські води.
Необхідний рівень підготовки каякера: новачок – профі.

За рахунок більшій жорсткості конструкції каяк має кращі ходові якості, ніж поліетиленові каяки.
___текст під спойлером:
Malish 7.1
Стильний каяк (байдарка) для початківців.____розгорнути
текст під спойлером:
Malish 7.1
Відмінно підходить для коротких неквапливих прогулянок та легких туристичних походів. Цей спритний малюк, рухомий та швидкий, ідеально підходить для сплавів на спокійних річках, озерах та каналах.
Має стійке V-форми днище, зручне сидіння експедиційного класу з регульованою по вертикалі та по горизонталі спинкою.
Технічні характеристики та обладнання каяка:
• Упори для ніг
• Еластична обв'язка на кормі та на носі каяку
• V- форми днище
• Ергономічні рукоятки
• Корпус з високоміцного композитного матеріалу
Кayak Spire-1____прибрати як дублюючий елемент
Композитний каяк підвищеної маневреності для серфінгу, туризму и походів.____прибрати як дублюючий елемент
Надувна байдарка
Ладдя ЛБ-480К-3____розгорнути
Надувна байдарка
Надувна байдарка Ладдя ЛБ-480К-3


Караван комфорт жовто-червона

СЕРІЯ: караван
КОМПЛЕКТАЦІЯ: комфорт
ДОВЖИНА:480 СМ
ШИРИНА: 98 СМ
ВИСОТА БОРТА: 31 СМ
ПАСАЖИРОВМІСТОВНІСТЬ: 3 місна
КІЛЬКІСТЬ ГЕРМОВІДСІКІВ: 2+1
ГРУЗОПІДЙОМНІСТЬ: КГ400
ЩІЛЬНІСТЬ ПВХ МАТЕРИАЛУ: 850 г/м2
КРІПЛЕННЯ УПОРІВ: немає
ЛЕЄРОТРИМАЧІ ДЛЯ КРЕПЛЕННЯ БАГАЖУ: 4 носових и 4 кормових
РУЧКИ ДЛЯ ПЕРЕНОСКИ: 2 шт
ВАГА БАЙДАРКИ: 15 КГ
текст під спойлером:
SUP Plumule 10'0"
SUP Plumule 10'0" - серія композитних універсальних дошок для широкого використання.____розгорнути
текст під спойлером:
Особливістю цієї серії являється ідеальне поєднання ходових характеристик на спокійній воді з можливістю впевнено серфіти
на будь яких хвилях. Ця доступна та надійна дошка для греблі стоячи підходить як новачкам, так и завзятим SUP-користувачам,
а також користується попитом для активного сімейного відпочинку з дітьми.
Додати Площадку для йоги!


</body>
+++футер++++
