Інформація про Походи
Одноденний похід Діївськими плавнями
___фото
сезонні походи: Гриби/подихати хвойним повітрім/_придумати інші назви
Більш детально про походи на каяках:____розгорнути
текст під спойлером:
Пройти віддаленими куточками, що межують з Дніпровсько-Орельським природним заповідником, побачити різноманітних
представників флори та фауни нашого регіону (бобри, черепахи, чаплі, ондатри, дикі качки, лілії, латаття, річкова
м'ята та ін.), здивуватися чистоті води Дїівських плавень, пройти тунелями з очерету, відчути запах річкової м'яти – ось
далеко не повний перелік приємних несподіванок, що чекають на Вас у каяк - поході по Діївських плавнях.

Діївські плавні отримали свою назву на честь козака Максима Дія, за легендою він першим оселився в цих місцях у 1755 році.
Діївські плавні це унікальний ландшафтний об'єкт Набережної Заводської м.Дніпро. Красна назва приховує в собі майже
незайманий людиною ліс та плавні в межах околиці міста, острови, що створюють відчуття повної віддаленості від цивілізації.
Під плавнями розуміють заплави річок, що затоплюються багато років і на сьогоднішній день є системою озер і проток, що
покрита очеретом, травами, ліліями і поваленими бобрами дерев.

Маршрути наших походів поділяються на три ступені складності та розраховані на групи з різною підготовкою
(на вибір: light, middle, hard). Супроводжувати у поході Вас будуть наші інструктори не лише професіонали, але ще ввічливі,
привабливі та просто цікаві хлопці.

Для походу ми використовуємо тримісні надувні байдарки ТМ «ЛАДЯ», зручні, місткі та стійкі, перевернути таку неможливо.
Екіпаж кожного човна 3 особи.

Смачну їжу ми готуємо на багатті. Меню обговорюємо групою та враховуємо додаткові побажання.

Як бачите, ми вже про все потурбувалися. Візьміть із собою в похід Вашу родину, друзів, колег та гарний настрій!

Подробиці про вартість, трансфер, дати здійснення похіду дізнатись по номеру: +380966748338 (ТГ, ВБ)
Розклад :____розгорнути
текст під спойлером:

Дитячий денний табір "Без гаджетів"
___фото
Більш детально про денний табір:____розгорнути
текст під спойлером:

Розклад:____розгорнути
текст під спойлером:
ФлайБорд
___фото
Більш детально про флайборд:____розгорнути
текст під спойлером:
Екскурсії
___фото
Більш детально про екскурсії на каяках:____розгорнути
текст під спойлером:

Відпочиваємо активно та яскраво!!
</body>
