Тут про Маршрути! Треба чітко розмежувати походи та маршрути і подумати куди діти інфу про флайборд? може в ассортимент?
<body>
++++Хедер++++
____треба якийсь вводний текст___
Дводенний похід р. Ворскла
___фото
Більш детально про походи по р.Ворскла:
Розклад :____розгорнути
текст під спойлером:
Друзі, а ви знаєте, що відносно назви річки Ворскла існують різні версії.
Одна з них розповідає, що під час перебування Петра I в 1709 році на берегах Ворскли, цар упустив в неї далекоглядну трубу ( «скло»), коли спостерігав за колоною своїх військ, що перетинали річку, та з розпачу назвав її «вор скла».
Але перше згадування про річку під назвою «Ворсъкла» зустрічаємо в літописах ще в 1106 році. В ΧVI-ΧVII ст. вона згадується в різних джерелах з варіантами написання: Ворсклъ, Ворскол, Ворскла та ін. За думкою одних спеціалістів корінь «вор» походить від слова «vir» фінсько-угорського походження, означає «ліс».

Отже назва «Ворскла» скоріш за все означає «лісова річка». А дехто - перекладає з скіфо-сарматського, як «біла вода».

Але, погодьтесь, що природа річки Ворскла дуже красива та багатогранна, з кожним походом відкриваєш для себе нові враження та почуття до неї.

Зануритися в прохолоду річкової води, здивуватися чистоті й прозорості річки, пройти тунелями з сплетених кронами дерев, відчути запах лісу – ось далеко не повний перелік приємних емоцій, що очікують Вас в дводенному поході по р.Ворскла.

Hаші інструктори не тільки професіонали, це ще ввічливі та цікаві хлопці та дівчата. Вже за 15 хвилин після знайомства ви зрозумієте, що в такій компанії точно не будете сумувати. Ніякої спеціальної підготовки не потрібно, Ворскла - добродушна, некваплива річка, достатньо мінімальних навичок керування плав.засобом.

Для походу ми використовуємо тримісні надувні байдарки ТМ «ЛАДДЯ», зручні, місткі й стійкі, перекинути таку випадково неможливо. Екіпаж кожного човна 2 – 3 особи.

Смачну їжу ми готуємо на вогнищі. Порції великі, добавка обов'язкова! Меню обговорюємо групою та враховуємо додаткові побажання.
Для табору ми використовуємо новенькі намети, спальні мішки та каремати. Всі намети дво або тримісні.

Як бачите, ми вже про все потурбувалися. Візьміть із собою в похід Вашу родину, друзів, колег та гарний настрій!

Подробиці про вартість, трансфер, дати здійснення похіду дізнатись по номеру: +380966748338 (ТГ, ВБ)
Дводенний похід р. Оріль
___фото
Більш детально про походи по р.Оріль:____розгорнути
текст під спойлером:
Побачити прозорість та чистоту річки, пройти тунелями з сплетених кронами дерев, відчути запах лісу, побувати в гостях у природи – ось далеко не повний перелік приємних емоцій, що чекають на Вас в каяк - поході по р.Оріль, однієї з найчистіших річок Европи.

Як відомо, в брудній воді не ростуть лілії та не водяться черепахи, велика кількість тих, та інших ще раз доводить первозданну чистоту цієї річки.
Живописними куточками для для відпочинку на р.Оріль є околиці Царичанки, по сусідству з нею Китайгород та Могильов, саме по цим краєвидам ми і проклали
маршрут дводенного походу.

Hаші інструктори не тільки професіонали, це ще ввічливі та цікаві хлопці та дівчата. Вже за 15 хвилин після знайомства ви зрозумієте, що в такій компанії точно не будете сумувати. Ніякої спеціальної підготовки не потрібно, Ворскла - добродушна, некваплива річка, достатньо мінімальних навичок керування плав.засобом.

Для походу ми використовуємо тримісні надувні байдарки ТМ «ЛАДДЯ», зручні, місткі й стійкі, перекинути таку випадково неможливо. Екіпаж кожного човна 2 – 3 особи.

Смачну їжу ми готуємо на вогнищі. Порції великі, добавка обов'язкова! Меню обговорюємо групою та враховуємо додаткові побажання.
Для табору ми використовуємо новенькі намети, спальні мішки та каремати. Всі намети дво або тримісні.

Як бачите, ми вже про все потурбувалися. Візьміть із собою в похід Вашу родину, друзів, колег та гарний настрій!

Подробиці про вартість, трансфер, дати здійснення похіду дізнатись по номеру: +380966748338 (ТГ, ВБ)
Одноденний похід Діївськими плавнями
Більш детально про похід Діївськими плавнями:____розгорнути
текст під спойлером:
Пройти віддаленими куточками, що межують з Дніпровсько-Орельським природним заповідником, побачити різноманітних представників флори та фауни нашого регіону (бобри, черепахи, чаплі, ондатри, дикі качки, лілії, латаття, річкова м'ята та ін.), здивуватися чистоті води Дїівських плавень, пройти тунелями з очерету, відчути запах річкової м'яти – ось далеко не повний перелік приємних несподіванок, що чекають на Вас у каяк - поході по Діївських плавнях.

Діївські плавні отримали свою назву на честь козака Максима Дія, за легендою він першим оселився в цих місцях у 1755 році. Діївські плавні це унікальний ландшафтний об'єкт Набережної Заводської м.Дніпро. Красна назва приховує в собі майже незайманий людиною ліс та плавні в межах околиці міста, острови, що створюють відчуття повної віддаленості від цивілізації. Під плавнями розуміють заплави річок, що затоплюються багато років і на сьогоднішній день є системою озер і проток, що покрита очеретом, травами, ліліями і поваленими бобрами дерев.

Маршрути наших походів поділяються на три ступені складності та розраховані на групи з різною підготовкою (на вибір: light, middle, hard). Супроводжувати у поході Вас будуть наші інструктори не лише професіонали, але ще ввічливі, привабливі та просто цікаві хлопці.

Для походу ми використовуємо тримісні надувні байдарки ТМ «ЛАДЯ», зручні, місткі та стійкі, перевернути таку неможливо. Екіпаж кожного човна 3 особи.

Смачну їжу ми готуємо на багатті. Меню обговорюємо групою та враховуємо додаткові побажання.

Як бачите, ми вже про все потурбувалися. Візьміть із собою в похід Вашу родину, друзів, колег та гарний настрій!

Подробиці про вартість, трансфер, дати здійснення похіду дізнатись по номеру: +380966748338 (ТГ, ВБ)
Розклад:____розгорнути
8.30-8.45 Збір в клубі м.Дніпро, ж/м Покровський (Комунар)
9.00-9.15 Інструктаж та сплав групою у супроводі інструктора
12.30-14.00 Висадка на острові, приготування обіду,
14.00-16.00 Обід, відпочинок, купання.
16.00-16.30 Повернення в клуб в м.Дніпро, ж/м Покровський (Комунар)

Дитячий денний табір "Без гаджетів"

Послуга не доступна під час воєнного стану

Денний міський табір «Без Гаджетів»!

Це 5 насичених днів на природі, де діти забудуть про свої гаджети, знайдуть нових друзів, відкриють для себе світ дивовижних пригод та навчаться корисним навичкам скаута!!

Ніхто не буде сумувати, тому що ми підготували цікавинки для кожного!!

В нашому таборі дітей чекають квести, ігри, спортивні змагання, навички каякінгу, SUP-школа, стрілянина з лука, школа молодого туриста, творчі лабораторії

Пам'ятка батькам!!
Нам можна довірити Вашу дитину потому що:
Наші інструктори пройшли курс надання першої медичної допомоги
Стаж роботи інструктором від 3-х років
Діти під час купання на занять на каяках знаходяться в страхувальних жилетах
Групи до 10 осіб
Обов'язкове заповнення інформаційної довідки про дитину (алергії, фобії, харчування, контактні дані)

Взяти з собою в табір:
індивідуальний посуд (ложка, тарілка, кружка)
фляжка з водою (індивідуальна)
кепка, купальник (плавки), рушник, крем від засмаги

Для дітей від 8 до 14 років.
Вартість путівки:
1 зміна
2 зміна
3 зміна

Ура! Канікули!! Джунглі зовуть!!



Розклад:____розгорнути
7.30 Збір вул. Володимира Мономаха, зупинка 121 автобус

8.30 Збір вул.Набережна Заводська, 94Л (база Kayak Club Dnipro)

9.30 Прибуття організованою флотилією в супроводі інструкторів на о.Пісочний
10.00 Урок школи молодого туриста (встановлюємо намет, вчимося в'язати вузли, стрілянина з лука)

11.00 Ланч (фрукти, сік, енергетичний батончик)

11.30 Тренування навиків каякингу чи SUP-школа

12.30 Тренування навиків приготування обіду в польових умовах. Допомога інструкторам в приготуванні обіду.

13.30 Обід (суп, походна каша, компот, солодкості)

14.30 Активні ігри, змагання, творчість, тренінги

16.00 Ланч (фрукти, сік, енергетичний батончик)

17.00 Повернення на базу Kayak Club Dnipro

18.30 Зустріч з батьками вул.Володимира Мономаха, зупинка 121 автобус

+++футер++++