++++Хедер++++
<body>

Perception Prodigy-II
Двомісний туристично-рекреаційний каяк____розгорнути
текст під спойлером:
WAVE-1
Двомісний композитний каяк підвищеної комфортності для туризму, прогулянок та походів.____розгорнути
текст під спойлером:
SeaBird Ranchero 12
Компактний каяк для рибальства та туризму від SeaBird____розгорнути
текст під спойлером:
SeaBird Expedition Åfjord
Базова комплектація компактного туристичного каяка популярної серії Afjord.____розгорнути
текст під спойлером:
Perception Vista
Двомісний туристичний каяк (байдарка) для сімейного відпочинку____розгорнути
текст під спойлером:
WAVE-1
Двомісний композитний каяк підвищеної комфортності для туризму, прогулянок та походів.____розгорнути
текст під спойлером:
Кayak Spire-1
Композитний каяк підвищеної маневреності для серфінгу, туризму та походів.____розгорнути
текст під спойлером:
Malish 7.1
Стильний каяк (байдарка) для початківців.____розгорнути
текст під спойлером:
Кayak Spire-1
Композитний каяк підвищеної маневреності для серфінгу, туризму и походів.____розгорнути
текст під спойлером:
Надувна байдарка
Ладдя ЛБ-480К-3____розгорнути
текст під спойлером:
SUP Plumule 10'0"
SUP Plumule 10'0" - серія композитних універсальних дошок для широкого використання.____розгорнути
текст під спойлером:


</body>
+++футер++++