{% extends "base_templates\base.html" %}
мужчина и женщина на каяках_pic
<p> Прокат каяків та сапбордів в Дніпрі</p>
<p> Отримайте кращий сервіс —
від KAYAK CLUB в ДНІПРІ і області!</p>
<h2> Замовте прокат на зручний для вас час вже зараз і отримаєте знижку 5% !
ЗАБРОНЮВАТИ ЗАРАЗ +380 (96) 674-83-38м. Дніпро, вул. Набережна Заводська, 94-л</h2>
каяк оранжевый одномесный_pic
<h3>Починаємо знайомство!</h3>
➜ KAYAK – прокат каяків та САП дошок.
➜ CLUB – організація походів, екскурсій, корпоративів, днів народження, сімейного відпочинку на каяках.
➜ DNIPRO – в найчистіших просторах річок Дніпра та Дніпропетровської області.
каяк оранж одномесный_pic
____Вставити відео____
<h3>
</h3>

<h2>Пропонуємо різні формати відпочинку на воді:</h2>
<h3>Самостійно: безумовний перехід на сторінку Асортимент з ниху неї конпка обрати ПЗ
Організованою екскурсії: безумовний перехід на сторінку Наші Заходи
Виїздні походи з наметами: безумовний перехід на сторінку Маршрути
Корпоративні заходи та свята: Дізнатися подробиці та замовити індивідуальну програму</h3>