{% extends "base_templates\base.html" %}
мужчина и женщина на каяках_pic
<p> Прокат каяків та сапбордів в Дніпрі</p>
<p> Отримайте кращий сервіс —
від KAYAK CLUB в ДНІПРІ і області!</p>
<h2> Замовте прокат на зручний для вас час вже зараз і отримаєте знижку 5% !
ЗАБРОНЮВАТИ ЗАРАЗ +380 (96) 674-83-38м. Дніпро, вул. Набережна Заводська, 94-л</h2>
каяк оранжевый одномесный_pic
<h3>Починаємо знайомство!</h3>
➜ KAYAK – прокат каяків та САП дошок.
➜ CLUB – організація походів, екскурсій, корпоративів, днів народження, сімейного відпочинку на каяках.
➜ DNIPRO – в найчистіших просторах річок Дніпра та Дніпропетровської області.
каяк оранж одномесный_pic
____Вставити KayakClubDnipro відео____
<h3>
</h3>

<h2>Пропонуємо різні формати відпочинку на воді:</h2>
<h3>Самостійно: безумовний перехід на сторінку Асортимент з ниху неї конпка обрати ПЗ
Організованою екскурсії: безумовний перехід на сторінку Наші Заходи
Виїздні походи з наметами: безумовний перехід на сторінку Маршрути
Корпоративні заходи та свята: Дізнатися подробиці та замовити індивідуальну програму</h3>
<h3> Наша мета -Дарувати Вам дух пригоди!
</h3>
<h3>Каяк Клуб Дніпро - До зустрічі в клубі!
Прогулянка на каяках ідеально підходить Вам, якщо:___попрацювати нсад формолюваннями!!!__
Втомилися і хочете
відволіктися від стресу
Шукаєте нові враження і пригоди
Драйв і екстрим — для ВасВам потрібен активний,
повний руху відпочинокБажаєте зарядитися натхненням і енергією</h3>
➜ ЗАМОВИТИ ПРОГУЛЯНКУ_url_in
Після прогулянки на каяках або сапбордах,____рорзділ в самий низ____
Ви зарядитеся позитивними емоціями та натхненням!
Чому вибирають саме нас?
Великий вибір туристичних маршрутівПрацюємо у будь-яку пору року
Індивідуальний підхід
Приємні бонуси
Дітям — безкоштовно (до 9 років)
Незабутні враження
Багаторічний досвід в організації походів по річках України.
Насолодитися природою і випробувати нові емоції в нашому прокатному парку можна у будь-яку пору року.
Уважний, стресостійкий адміністратор і досвідчений інструктор зроблять все, щоб Ви отримали максимум задоволення.
Чай, кава, вода, захист від сонця, захист для рук і телефону.
Прогулянка на додатковому дитячому сидінні.
Ми даруємо Вам найголовніше — яскраві емоції і враження, які залишаться з Вами назавжди.
Як нас знайти:+380 (66) 896-77-47+380 (96) 674-83-38г. Днепр, ул Набережна Заводська, 94Л .gmail@kayak.ua
Підпишіться на нас в соц. мережах:
➜ ЗАМОВИТИ ПРОГУЛЯНКУ➜
ДІЗНАТИСЯ ПОДРОБИЦІ" — Наша місія дарувати вам дух пригоди
"Засновник, гід-інструктор. Ідейний натхненник проекту.Станіслав

Хочете насолодитися природою
і побачити улюблене місто
з новою боку1234
➜ ЗАМОВИТИ ПРОГУЛЯНКУ__url_in



Прокат каяків і сапбордов в ДніпріLET'S GO!
Краща рекомендація — Ваші відгуки! ___послання на розділ з відгуками а поки на гугл карту
І найголовніше — ми піклуємося про Ваш максимальний комфорт!___прибрати картинку з багаттям____
Уточнюємо Ваші параметри і підбираємо каяк або сапборд, щоб Вам було зручно.
Підбираємо весло та настроюємо спорядження під Ваc, щоб гребти було легко і зручно.
Видаємо надійний страхувальний жилет для Вашої безпеки.
Якщо Ви з маленькою дитиною — надаємо дитячий рятувальний жилет і дитяче крісло.
+futer