++++Хедер++++
<body>
ПРАЙС
Прокат (оренда) каяків, байдарок, САП дошок, альтанок на воді, флайборда в Дніпрі
Одномісні каяки, SUP дошки/ грн.
Двомісні: каяк,
байдарка,
SUP дошка/ грн.
Тримісні: байдарка,
SUP дошка/ грн.
Плавуча Альтанка + Байдарка/ грн.
30 хвилин
100
130
200
1 година
180
250
350
500
2 години
300
450
600
1000
3 години
400
600
800
1500
4 години
500
750
1000
1850
5 годин
600
900
1150
2150
5-7 годин
700
1050
1300
2500
7-12 годин
800
1200
1500
2850
Доба
1000
1500
2000
3000
ФЛАЙ БОРД
Самостійно, грн.
Тандем з інструктором, грн.
5 хвилин тандем з дитиною до 12 років
1200
5 хвилин тандем з дитиною старше 12 років
1500
15 хвилин
1800,00
30 хвилин
3600
В А Ж Л И В О!
1. Спортивне обладнання видається гостям тільки в тверезому стані.
2. Спортивне обладнання видається гостям під заставу документа з фотом власника: закордонний паспорт, водійське посвідчення, студ.квиток та ін.
3. При оренді плавзасобу в будній день від 5 годин, знижка від ціни прайса 20%
4. За порушення гостями техніки безпеки поводження в каякці чи SUPдошці, що призвели до втрати власного майна, адміністрація відповідальності не несе.
5. Імениннику знижка на оренду плавзасобу 10%
6. При поверненні обладнання після 20.30 орендна плата розраховується в подвійному розмірі від ціни прайса
7. При оренді плавучої альтанки обов"язкова оренда плавзасобу
</body>
+++футер++++